.card {
  padding: 2em;
}

h1 {
  text-align: center;
  margin: 0; 
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-template-rows: repeat(2, 100px);
  gap: 5px;
}

.cell {
  height: 100px;
  width: 100pxx;
  border: 1px solid grey;
  background-color: white;
}

.cell.on {
  background-color: black;
}